@mixin xs { @media (min-width: #{$screen-xs}) {@content;} } // Tiny devices
@mixin sm { @media (min-width: #{$screen-sm}) {@content;} } // Small devices
@mixin md { @media (min-width: #{$screen-md}) {@content;} } // Medium devices
@mixin lg { @media (min-width: #{$screen-lg}) {@content;} } // Large devices
@mixin xl { @media (min-width: #{$screen-xl}) {@content;} } // Extra large devices
